<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="com.google.android.gms.permission.AD_ID" />

    <queries>
        <intent>
            <action android:name="com.huawei.hms.core.aidlservice" />
        </intent>
        <package android:name="com.google.android.youtube" />
        <intent>
            <action android:name="android.intent.action.VIEW" />
            <category android:name="android.intent.category.BROWSABLE" />
            <data android:scheme="https" />
        </intent>
    </queries>

    <application
        android:name=".MainApp"
        android:allowBackup="false"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.DemoApp"
        tools:targetApi="31">
        <activity
            android:name=".MainActivity"
            android:exported="true"
            android:label="@string/app_name"
            android:theme="@style/Theme.DemoApp">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
            <intent-filter android:autoVerify="true">
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data
                    android:scheme="https"
                    android:host="manishwebengage.github.io" />
            </intent-filter>
        </activity>
        <activity
            android:name=".DashboardActivity"
            android:theme="@style/Theme.DemoApp"
            android:exported="true">
        </activity>

        <activity
            android:name=".NoActionBarNoStatusBarActivity"
            android:theme="@android:style/Theme.DeviceDefault.Light.NoActionBar.TranslucentDecor" />

        <activity android:name=".ActionbarActivity"
            android:theme="@android:style/Theme.NoTitleBar.Fullscreen" />

        <activity android:name=".ThemeActivity"
            android:theme="@android:style/Theme.Translucent" />

        <service
            android:name=".DemoFirebaseMessagingService"
            android:exported="true">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
            </intent-filter>
        </service>
        <meta-data
            android:name="com.webengage.sdk.android.environment"
            android:value="us" />
    </application>

</manifest>